# maven ignore
target/
*/target
*/.mvn

# eclipse ignore
.settings/
.project
.classpath
*/.project
*/.settings/
*/.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
/.idea/
*/.settings
*/.springBeans
/.settings/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# project ignore
**/tmp
pom.xml.versionsBackup
